@use "../helpers/index" as *;
.header {
  position: absolute; /* Встановлюємо sticky */
  top: 0; /* Липне до верхньої частини екрана */
  width: 100%;
  z-index: 10; /* Шапка буде поверх інших елементів */
  &__body {
    padding-top: rem(74);

    @include tablet {
      padding-top: rem(34);
    }
    @include mobile {
      padding-top: rem(14);
    }
  }

  &__body-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      justify-content: start;
    }
  }

  &__logo {
    color: var(--color-ligth);
    font-family: "Playfair Display";
    @include hover {
      color: var(--color-blue);
    }
  }

  &__menu {
    @include tablet {
      padding-left: rem(700);
    }

    @include tablet {
      padding-left: rem(560);
    }
    @include mobile {
      padding-left: rem(230);
    }
  }
}
.dot {
  &__blue {
    color: var(--color-blue);
  }
}

.burger-menu {
}
