@use "../helpers/index" as *;
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: rem(30);
  &__search {
    color: var(--color-ligth);
    @include hover {
      color: var(--color-blue-ligth);
    }
  }

  &__button {
  }
}
